body{
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
}

h3{
	font-family: "Arial", sans-serif;
	font-size: 12px;
}

input{
	margin-top: 1%; 
	position: relative;
	height: 25px !important;
}

h1{
	font-family: "Arial", sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

button{
	margin-top: 3%; 
	position: relative;
}

table{
	margin-top: 3%; 
	position: relative;
}
	